<form class="task_form" (ngSubmit)="addTodo()">
  <mat-form-field class="example-full-width">
    <mat-label>Tarefa</mat-label>
    <input matInput [(ngModel)]="todoText" name="todoText">
  </mat-form-field>

  <button mat-fab extended type="button" (click)="addTodo()">
    <mat-icon>add</mat-icon>
    Adicionar Tarefa
  </button>
</form>

<div class="todo-list">
  <mat-list role="list">
    <h2 style="color: aliceblue;">Tarefas adicionadas</h2>
    <mat-list-item role="listitem" *ngFor="let todo of todoList; let i = index" class="todo-items">
      <mat-checkbox class="todo-checkbox" [(ngModel)]="todo.completed">
        <span [class.checked]="todo.completed">{{ todo.text }}</span>
      </mat-checkbox>

      <button mat-mini-fab extended type="button" (click)="editTodo(i)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-mini-fab extended type="button" (click)="removeTodo(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
